*, html, body{
	margin: 0;
	padding: 0;
}

#myCanvas{
	display: block;
	margin: 100px auto;
	/* border: 1px solid #ccc; */
/* 	background-color: #3EECAC;
	background-image: linear-gradient(19deg, #3EECAC 30%, #EE74E1 100%); */
}